.thumbnail-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.thumbnail-button:focus {
  outline: none;
}

.thumbnail {
  background-size: cover;
  border-radius: 5px;
  height: 100px;
  width: 100px;
}

.canva{
    width: 100%;
    height: 500px;
    background-color: #cb0000;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.nft-layers {
  position: relative;
  width: 500px;
  height: 500px;
}

.nft-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  background-size: cover;
}